<div class="dropdown">
    <label for="dropdown" class="dropdown__label">{{title}}:</label>
    <!-- multiple selected options -->
    <div *ngIf="multiSelect" class="dropdown__multiSelect">
        <div *ngFor="let option of choosenOptions" class = "dropdown__selectedTags">
            <span class='dropdown__selectedTags__option'>{{option}}</span>
            <span class='dropdown__selectedTags__remove' (click)='removeOptions(option)'>x</span>
        </div>
    </div>

    <!-- selected option -->
    <p (click)='showDropDown = !showDropDown' class="dropdown__value" id = "dropdown">
        <span *ngIf='!choosenOption && choosenOptions.length === 0'>Select option</span>
        <span>{{choosenOption}}</span>
    </p>

    <!-- options -->
    <ul *ngIf='showDropDown' class='dropdown__list' [ngClass]="{'dropdown__list--show': showDropDown}">
        <li *ngFor="let option of options" (click)="onSelectOption(option)" class="dropdown__list__option">{{option}}</li>
    </ul>
</div>